{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TRA TOU MA</title>
<link type="text/css" rel="stylesheet" href="{% static 'css/style.css'%}">

</head>
<body>

<a href="{% url 'register'%}">SIGN-UP |</a> &nbsp
<a href="{% url 'login' %}">LOGINPAGE </a>  &nbsp

{% block 'b1' %}
<h2 align="center"><font color="DarkGoldenRod" size = "6x">Login Fail</font></h2>
<div>
    {% for i in messages %}
    <h4 align="center"><font color = "DarkGoldenRod">{{i}}</font></h4>
    {% endfor %}
</div>
{% endblock %}

</body>
</html>